[Desktop Entry]
Encoding=UTF-8
Name=etcher
Exec=etcher --no-sandbox %U
Terminal=false
Type=Application
StartupNotify=true
Icon=balena-etcher-electron
StartupWMClass=balenaEtcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Categories=System;
